Windows Phone 8/Weave/SampleData/SampleBrowseFeedsByCategoryViewModel/SampleBrowseFeedsByCategoryViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleBrowseFeedsByCategoryViewModel" targetNamespace="Expression.Blend.SampleData.SampleBrowseFeedsByCategoryViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleBrowseFeedsByCategoryViewModel" type="tns:SampleBrowseFeedsByCategoryViewModel" />
  <xs:complexType name="SampleBrowseFeedsByCategoryViewModel">
    <xs:sequence>
      <xs:element name="Feeds" type="tns:Feeds" />
    </xs:sequence>
    <xs:attribute name="Category" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Feeds">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FeedsItem" type="tns:FeedsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeedsItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="IsEnabled" type="xs:boolean" />
  </xs:complexType>
</xs:schema>