HollywoodReport/Weave/SampleData/SampleThemes/SampleThemes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleThemes" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleThemes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleThemes" type="tns:SampleThemes" />
  <xs:complexType name="SampleThemes">
    <xs:sequence>
      <xs:element name="Themes" type="tns:Themes" />
      <xs:element name="Fonts" type="tns:Fonts" />
      <xs:element name="FontSizes" type="tns:FontSizes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Themes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ThemesItem" type="tns:ThemesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ThemesItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Color" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Fonts">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FontsItem" type="tns:FontsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FontsItem">
    <xs:attribute name="FontName" type="xs:string" />
    <xs:attribute name="FontFamily" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="FontSizes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FontSizesItem" type="tns:FontSizesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FontSizesItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Size" type="xs:double" />
  </xs:complexType>
</xs:schema>