Windows Phone 8/Weave/SampleData/SampleManageFeedsPageData/SampleManageFeedsPageData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleManageFeedsPageData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleManageFeedsPageData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleManageFeedsPageData" type="tns:SampleManageFeedsPageData" />
  <xs:complexType name="SampleManageFeedsPageData">
    <xs:sequence>
      <xs:element name="Feeds" type="tns:Feeds1" />
    </xs:sequence>
    <xs:attribute name="AppName" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Feeds1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FeedsItem1" type="tns:FeedsItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeedsItem1">
    <xs:attribute name="FeedName" type="xs:string" />
    <xs:attribute name="IsEnabled" type="xs:boolean" />
  </xs:complexType>
</xs:schema>