HollywoodReport/Weave/SampleData/SampleCategoriesList/SampleCategoriesList.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleCategoriesList" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleCategoriesList" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleCategoriesList" type="tns:SampleCategoriesList" />
  <xs:complexType name="SampleCategoriesList">
    <xs:sequence>
      <xs:element name="Categories" type="tns:Categories" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CategoriesItem" type="tns:CategoriesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoriesItem">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>