Windows Phone 8/Weave/SampleData/SamplePanoBGs/SamplePanoBGs.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SamplePanoBGs" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SamplePanoBGs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SamplePanoBGs" type="tns:SamplePanoBGs" />
  <xs:complexType name="SamplePanoBGs">
    <xs:sequence>
      <xs:element name="Backgrounds" type="tns:Backgrounds" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Backgrounds">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="BackgroundsItem" type="tns:BackgroundsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BackgroundsItem">
    <xs:attribute name="SourceUrl" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Description" type="xs:string" />
  </xs:complexType>
</xs:schema>