Windows Phone 8/Weave.UI.SettingsPages/SampleData/SampleManageSources/SampleManageSources.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleManageSources" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleManageSources" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleManageSources" type="tns:SampleManageSources" />
  <xs:complexType name="SampleManageSources">
    <xs:sequence>
      <xs:element name="Feeds" type="tns:Feeds" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Feeds">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FeedsItem" type="tns:FeedsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeedsItem">
    <xs:attribute name="FeedName" type="xs:string" />
  </xs:complexType>
</xs:schema>