Windows Phone 8/Weave/SampleData/SampleHomePageTasks/SampleHomePageTasks.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleHomePageTasks" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleHomePageTasks" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleHomePageTasks" type="tns:SampleHomePageTasks" />
  <xs:complexType name="SampleHomePageTasks">
    <xs:sequence>
      <xs:element name="HomePageTasks" type="tns:HomePageTasks" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HomePageTasks">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="HomePageTasksItem" type="tns:HomePageTasksItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HomePageTasksItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Icon" type="xs:string" />
    <xs:attribute name="Caption" type="xs:string" />
  </xs:complexType>
</xs:schema>