Windows Phone 8/Weave/SampleData/SampleCategories/SampleCategories.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleCategories" targetNamespace="Expression.Blend.SampleData.SampleCategories" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleCategories" type="tns:SampleCategories" />
  <xs:complexType name="SampleCategories">
    <xs:sequence>
      <xs:element name="Categories" type="tns:Categories" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CategoriesItem" type="tns:CategoriesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoriesItem">
    <xs:attribute blend:FormatParameters="2,8" name="Name" type="xs:string" />
    <xs:attribute name="IsEnabled" type="xs:boolean" />
    <xs:attribute name="UserAdded" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="4" name="NewArticleCountText" type="xs:double" />
  </xs:complexType>
</xs:schema>