Windows Phone 8/Weave/SampleData/SampleRssFeed/SampleRssFeed.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleRssFeed" targetNamespace="Expression.Blend.SampleData.SampleRssFeed" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleRssFeed" type="tns:SampleRssFeed" />
  <xs:complexType name="SampleRssFeed">
    <xs:sequence>
      <xs:element name="News" type="tns:News" />
      <xs:element name="Categories" type="tns:Categories" />
    </xs:sequence>
    <xs:attribute name="Header" type="xs:string" />
    <xs:attribute name="CurrentPageDisplay" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,3" name="NewItemCount" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="News">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="NewsItem" type="tns:NewsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewsItem">
    <xs:attribute blend:FormatParameters="20,3" name="Title" type="xs:string" />
    <xs:attribute name="FeedIconUri" type="xs:string" />
    <xs:attribute blend:Format="Date" name="PublishDate" type="xs:string" />
    <xs:attribute name="ImageUrl" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="OriginalSource" type="xs:string" />
    <xs:attribute name="HasImage" type="xs:boolean" />
    <xs:attribute name="HasBeenViewed" type="xs:boolean" />
    <xs:attribute name="FormattedForMainPageSourceAndDate" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CategoriesItem" type="tns:CategoriesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoriesItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="4" name="NewArticleCountText" type="xs:double" />
  </xs:complexType>
</xs:schema>