Windows Phone 8/HollywoodReport/Weave.UI.SettingsPages/SampleData/SampleFeedSource/SampleFeedSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleFeedSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleFeedSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleFeedSource" type="tns:SampleFeedSource" />
  <xs:complexType name="SampleFeedSource">
    <xs:sequence>
      <xs:element name="Feed" type="tns:Feed" />
      <xs:element name="Categories" type="tns:Categories1" />
      <xs:element name="SelectedCategory" type="tns:SelectedCategory" />
    </xs:sequence>
    <xs:attribute name="IsArticleViewingSelectorEnabled" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Feed">
    <xs:attribute name="Category" type="xs:string" />
    <xs:attribute name="FeedName" type="xs:string" />
    <xs:attribute name="FeedUri" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Categories1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CategoriesItem1" type="tns:CategoriesItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoriesItem1">
    <xs:attribute name="DisplayName" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="SelectedCategory">
    <xs:attribute name="DisplayName" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>