Windows Phone 8/SelesGames.Phone.Controls/SampleData/SampleViewModel/SampleViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleViewModel" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleViewModel" type="tns:SampleViewModel" />
  <xs:complexType name="SampleViewModel">
    <xs:sequence>
      <xs:element name="Results" type="tns:Results" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Results">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ResultsItem" type="tns:ResultsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultsItem">
    <xs:attribute name="AppName" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Category" type="xs:string" />
    <xs:attribute name="FormattedPrice" type="xs:string" />
    <xs:attribute name="RatingStars" type="xs:string" />
  </xs:complexType>
</xs:schema>