Windows Phone 7/HollywoodReport/Weave.UI.SettingsPages/SampleData/SampleFeedLibraryViewModel/SampleFeedLibraryViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleFeedLibraryViewModel" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleFeedLibraryViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleFeedLibraryViewModel" type="tns:SampleFeedLibraryViewModel" />
  <xs:complexType name="SampleFeedLibraryViewModel">
    <xs:sequence>
      <xs:element name="Categories" type="tns:Categories" />
      <xs:element name="SearchResults" type="tns:SearchResults" />
    </xs:sequence>
    <xs:attribute name="SearchPrompt" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CategoriesItem" type="tns:CategoriesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoriesItem">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="SearchResults">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SearchResultsItem" type="tns:SearchResultsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchResultsItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Url" type="xs:string" />
    <xs:attribute name="IsAdded" type="xs:boolean" />
  </xs:complexType>
</xs:schema>